<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title></title>
	<!-- bootstrap css -->
	<load href="__PUBLIC__/css/bootstrap.min.css" />	
	<load href="__PUBLIC__/css/style.css" />	
	<!--响应式特性 css-->	
	<load href="__PUBLIC__/css/bootstrap-responsive.min.css" />
	<!-- jquery -->
	<load href="__PUBLIC__/js/jquery-1.8.3.min.js" />
	<!-- bootstrap.js -->
	<load href="__PUBLIC__/js/bootstrap.min.js" />
</head>
<body>
	<div class="row-fluid" id="header">	
		<div class="span8 offset2">				
			<h1 class="font">微博后台管理系统</h1>
			<p class="lead"></p>				
		</div>			
    </div>