
    <include file="Public/header" />
     <include file="Public/nav" />
     <div class="row-fluid" id="main">
          <div class="span8 offset2">   
               <form class="form-horizontal " action="{:U('add')}" method="post" enctype="multipart/form-data">
                    <h3>话题信息</h3>
                    <div class="control-group">
                         <label class="control-label" for="inputEmail">话题名称</label>
                         <div class="controls">
                              <input type="text" id="inputEmail" name="topic" placeholder="用户名">
                         </div>
                    </div>
                    <div class="control-group">
                         <label class="control-label" for="inputEmail">图片</label>
                         <div class="controls">
                              <input type="file" id="inputEmail" name="picname">
                         </div>
                    </div>
                    
                    
                    
                    <div class="control-group">
                         <div class="controls">
                              <label class="checkbox">
                                   &nbsp;
                              </label>
                              <button class="btn btn-large btn-primary form-submit" type="submit">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;提交&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
                         </div>
                    </div>
               </form>             
          </div>
     </div>
    <include file="Public/footer" />
