
	<include file="Public/header" />
	<include file="Public/nav" />
	
	
	<div class="row-fluid" id="main">
		<div class="span8 offset2">		
		   
			<table class="table table-striped">
				<thead>
				<tr>
					<th>编号</th>
					<th>图片</th>
					<th>链接地址</th>
					<th>状态</th>
					<th>操作</th>
				</tr>
				</thead>
				<tbody>
				 <notempty name="adlist">
				   <foreach name="adlist" item="val">
					<tr>
						<td>{$val.id}</td>
						<td><img src="__PUBLIC__/guanggao/img/{$val.picname}" alt="" width="60px" height="50px"></td>
						<td>{$val.url}</td>
						<td><a href="{:U('Ad/huan',array('id'=>$val['id']))}">{$val.start}</a></td>
						<td>
							<a href="{:U('Ad/del',array('id'=>$val['id']))}">删除</a> 
							<a href="{:U('Ad/edit',array('id'=>$val['id']))}">修改</a> 
						</td>
					</tr>
					</foreach>
				   <else />
				   <tr>
				   	  <td colspan="4">查无此数据</td>
				   </tr>	
					</notempty>
				</tbody>
				
			</table>
			<div class="pagination">
				<ul>
					{$pageButton}
				</ul>
			</div>
		</div>
	</div>
	 <script>
	 	
	 	$('.pagination ul a').unwrap('div').wrap('<li></li>');
	 	$('.pagination ul span').wrap('<li class="active"></li>')
	 </script>
	<include file="Public/footer" />
	
	