 <!--导入 头部文件-->
 <include file="public/header" />
 <!--导入配置文件-->
<link href="__PUBLIC__/styles/CustomerIndex.css" type="text/css" rel="stylesheet" />
<link href="__PUBLIC__/styles/global.css" type="text/css" rel="stylesheet" />
<link rel="stylesheet" href="__PUBLIC__/lib/css/jquery.mCustomScrollbar.min.css"/>
    <!--the css for this plugin-->
<link rel="stylesheet" href="__PUBLIC__/css/jquery.emoji.css"/>
<script language="javascript" src="__PUBLIC__/script/CustomerIndex.js" ></script>
<script language="javascript" src="__PUBLIC__/script/trim.js" ></script>

    <!-- 内容总容器 mainDIV 开 始-->
    <div id="main">
        <!-- 左侧mainBannerDIV 开始 -->
    <div id="mainBanner">
        	<!-- mainBannerTop DIV 开始 -->
        <div id="mainBannerTop">
            <!--id=mainBannerTopIssue 发布框-->
            <div id="mainBannerTopIssue">
            <!--id=mainBannerTopIssuePoint 提示-->
            <div id="mainBannerTopIssuePoint">发布微博
            </div>
            <div style="float:right;">您还可以输入<font id="counter1">140</font>字！
            </div>
            <form action="{:U('add')}" method="post" name="myform" enctype="multipart/form-data">
            <div id="mainBannerTopIssueForm">
                  <!--id="mainBannerTopIssueFrame-->
            <div id="mainBannerTopIssueFrame">
            <textarea name="text" rows="4" class="contentface"  class="Size" maxlength="140"  style="width:523px;height:92px;overflow:hidden;border:1px #0CF solid;resize:none;" onkeyup="check(this)"></textarea>
            <script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.js"></script>
            <!--(Optional) the js for jquery.mCustomScrollbar's addon-->
            <script src="__PUBLIC__/lib/script/jquery.mousewheel-3.0.6.min.js"></script>
            <!--the js for jquery.mCustomScrollbar-->
            <script src="__PUBLIC__/lib/script/jquery.mCustomScrollbar.min.js"></script>
            <!--the js for this plugin-->
            <script src="__PUBLIC__/js/jquery.emoji.js"></script>
            <script type="text/javascript">
                $(".contentface").emoji({
                    showTab: true,
                    animation: 'fade',
                    icons: [{
                        name: "贴吧表情",
                        path: "__PUBLIC__/dist/img/tieba/",
                        maxNum: 50,
                        file: ".jpg",
                        placeholder: ":{alias}:",
                        alias: {
                            1: "hehe",
                            2: "haha",
                            3: "tushe",
                            4: "a",
                            5: "ku",
                            6: "lu",
                            7: "kaixin",
                            8: "han",
                            9: "lei",
                            10: "heixian",
                            11: "bishi",
                            12: "bugaoxing",
                            13: "zhenbang",
                            14: "qian",
                            15: "yiwen",
                            16: "yinxian",
                            17: "tu",
                            18: "yi",
                            19: "weiqu",
                            20: "huaxin",
                            21: "hu",
                            22: "xiaonian",
                            23: "neng",
                            24: "taikaixin",
                            25: "huaji",
                            26: "mianqiang",
                            27: "kuanghan",
                            28: "guai",
                            29: "shuijiao",
                            30: "jinku",
                            31: "shengqi",
                            32: "jinya",
                            33: "pen",
                            34: "aixin",
                            35: "xinsui",
                            36: "meigui",
                            37: "liwu",
                            38: "caihong",
                            39: "xxyl",
                            40: "taiyang",
                            41: "qianbi",
                            42: "dnegpao",
                            43: "chabei",
                            44: "dangao",
                            45: "yinyue",
                            46: "haha2",
                            47: "shenli",
                            48: "damuzhi",
                            49: "ruo",
                            50: "OK"
                        },
                        title: {
                            1: "呵呵",
                            2: "哈哈",
                            3: "吐舌",
                            4: "啊",
                            5: "酷",
                            6: "怒",
                            7: "开心",
                            8: "汗",
                            9: "泪",
                            10: "黑线",
                            11: "鄙视",
                            12: "不高兴",
                            13: "真棒",
                            14: "钱",
                            15: "疑问",
                            16: "阴脸",
                            17: "吐",
                            18: "咦",
                            19: "委屈",
                            20: "花心",
                            21: "呼~",
                            22: "笑脸",
                            23: "冷",
                            24: "太开心",
                            25: "滑稽",
                            26: "勉强",
                            27: "狂汗",
                            28: "乖",
                            29: "睡觉",
                            30: "惊哭",
                            31: "生气",
                            32: "惊讶",
                            33: "喷",
                            34: "爱心",
                            35: "心碎",
                            36: "玫瑰",
                            37: "礼物",
                            38: "彩虹",
                            39: "星星月亮",
                            40: "太阳",
                            41: "钱币",
                            42: "灯泡",
                            43: "茶杯",
                            44: "蛋糕",
                            45: "音乐",
                            46: "haha",
                            47: "胜利",
                            48: "大拇指",
                            49: "弱",
                            50: "OK"
                        }
                    }, {
                        path: "__PUBLIC__/dist/img/qq/",
                        maxNum: 91,
                        excludeNums: [41, 45, 54],
                        file: ".gif",
                        placeholder: "#qq_{alias}#"
                    }]
                });

            </script>
            <script>
                var counter1 = document.getElementById('counter1');
                var num = 140; 
                function check(obj){
                    var msg = obj.value;
                    counter1.innerHTML = num - msg.length; 
                 }
            </script>
            </div>
                  <!--id="mainBannerTopIssueInsert 插入链接-->
                <div id="mainBannerTopIssueInsert">
                  <!--4个小div-->
                </div>
                <!--确认发布-->
                <div id="mainBannerTopIssueSure">
                <div id="mainBannerTopIssueSure2" style="margin-left:35px;margin-top:7px;">
                    <div id="mainBannerTopIssueInsert1">
                        <input style="opacity: 0" type="file" id="inputEmail" name="picname">
                    </div>
                    <div id="mainBannerTopIssueInsert2"  >插入图片</div>
                    <input type="submit" value="发布" style="background-color: #3295E6;width:70px;height: 30px;">
                </div>
            </div>
            </div>
            </form>
            </div>
        </div>
            <!--id="mainBannerTitle 首页-->
            <div id="mainBannerTitle">
                <!--id="mainBannerTitleWord"-->
                <div id="mainBannerTitleWord"><b>浏览微博</b>
                </div>
            </div> 
            <!--不同人的内容-->
        <div id="mainBannerContent">
            <!--微博展示-->
            <foreach name="result" item="val"><br/><br/><br/>
                <div class="stateShowWord">
                    <table width="450" border="0" cellpadding="0" cellspacing="0" class="stateTable">
                    <tr>
                        <td width="70" align="center" valign="top">
                            <a href="{:U('Person/index',array('id'=>$val['uid']))}"><img src="__PUBLIC__/Uploads/{$val.head}" alt="" width="48" height="48" /></a>
                        </td>
                        <td width="380" ><a href="{:U('Person/index',array('id'=>$val['uid']))}">{$val.nickname}:</a>
                        <font class="icontext">{$val.text}</font>
                        </td>
                    </tr>
                    </table>
                </div>
                <!--微博附带图片-->
                <if condition="$val['picname'] neq null">
                    <div class="stateImgShow">
                    <div class="small" style="width:100px">
                        <img width="100px" src="__PUBLIC__/Uploads/{$val.picname}" />
                    </div><img class="big" width="150px" src="__PUBLIC__/Uploads/{$val.picname}" /> 
                    </div>
                </if>
                <if condition="$val['repost'] neq null">
                    <td><br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{:U('Person/index',array('id'=>$val['repost']['uid']))}"><img src="__PUBLIC__/Uploads/{$val['repost'].head}" width="30px"><b style="font-weight:bold;"></a>&nbsp;<a href="{:U('Person/index',array('id'=>$val['repost']['uid']))}">@{$val['repost'].nickname}</a>:</b><br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font class="icontext">{$val['repost'].text}</font><br/><br/></td>
                    <if condition="$val['repost']['picname'] neq null">
                        <div class="stateImgShow">
                            <div class="small" style="width:70px">
                                <img width="70px" src="__PUBLIC__/Uploads/{$val['repost']['picname']}" />
                            </div><img class="big" width="90px" src="__PUBLIC__/Uploads/{$val['repost']['picname']}" />
                            
                        </div> 
                    </if>
                </if>
                <script type="text/javascript">
                    $(".icontext").emojiParse({
                        icons: [{
                            path: "__PUBLIC__/dist/img/tieba/",
                            file: ".jpg",
                            placeholder: ":{alias}:",
                            alias: {
                                1: "hehe",
                                2: "haha",
                                3: "tushe",
                                4: "a",
                                5: "ku",
                                6: "lu",
                                7: "kaixin",
                                8: "han",
                                9: "lei",
                                10: "heixian",
                                11: "bishi",
                                12: "bugaoxing",
                                13: "zhenbang",
                                14: "qian",
                                15: "yiwen",
                                16: "yinxian",
                                17: "tu",
                                18: "yi",
                                19: "weiqu",
                                20: "huaxin",
                                21: "hu",
                                22: "xiaonian",
                                23: "neng",
                                24: "taikaixin",
                                25: "huaji",
                                26: "mianqiang",
                                27: "kuanghan",
                                28: "guai",
                                29: "shuijiao",
                                30: "jinku",
                                31: "shengqi",
                                32: "jinya",
                                33: "pen",
                                34: "aixin",
                                35: "xinsui",
                                36: "meigui",
                                37: "liwu",
                                38: "caihong",
                                39: "xxyl",
                                40: "taiyang",
                                41: "qianbi",
                                42: "dnegpao",
                                43: "chabei",
                                44: "dangao",
                                45: "yinyue",
                                46: "haha2",
                                47: "shenli",
                                48: "damuzhi",
                                49: "ruo",
                                50: "OK"
                            }
                        }, {
                            path: "__PUBLIC__/dist/img/qq/",
                            file: ".gif",
                            placeholder: "#qq_{alias}#"
                        }]
                    });
                </script>
                <div class="stateShowtime"> {$val.addtime} </div>
                <div class="stateOp">
                <br/><br/>
                    <a class="opState" href="{:U('collect',array('id'=>$val['id']))}">{$val.collectButton}</a>
                    <a class="opState" href="{:U('Repost/index',array('id'=>$val['id'],'tid'=>$val['tid']))}">转发({$val.repostnum})</a>
                    <a class="opState" href="{:U('Comment/index',array('id'=>$val['id']))}">评论({$val.commentnum})</a>
                    <!-- <a class="opState" onclick="reXianShi(this)">评论({$val.commentnum})</a> -->
                    <a class="opState" href="{:U('praise',array('id'=>$val['id']))}">{$val.praiseButton}({$val.praisenum})</a>
                    <a class="opState" href="{:U('del',array('id'=>$val['id']))}">{$val.delButton}</a>
                    <a class="opState" href="{:U('Sx/index',array('getid'=>$val['uid']))}">{$val.mesButton}</a>
                </div>
            </foreach>
            <!--个人展示结束-->
            
        </div>
        <div align="center">{$pageButton}</div>
    </div>
    <!-- 引入放大镜JS特效 -->
    <script type="text/javascript">
       
           $('.small').mouseover(function(){
            var offset = $(this).offset(); 
            $(this).next().css('top',(offset.top-700)).css('left',(offset.left-100)).css('display','block');
           });
           $('.small').mouseout(function(){
            $(this).next().css('display','none');
           });
        
    </script>
    <!-- 引入放大镜JS特效 -->
<!-- 导入右侧 侧边栏-->
<include file="public/right" />
<!-- footer部分 -->
<include file="public/footer" />